.swiper-container {
  width: 100%;

  width: 100%;
  border: 5px solid rgb(3, 140, 252);
  margin-top: 10px;
 
  padding: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: 3px solid rgb(255, 208, 0);

  height:100%;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.swiper-slide:hover{
  background-color: rgb(197, 197, 197);
}

 .sub-name-container{
  width:100%;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 22, 22);
  color:white;
  padding:10px;
  border-bottom: 2px solid rgb(173, 170, 170); 
}

.sub-des-container{
  width:100%;
  height:130px;

  display: flex;
  padding:10px;
  align-items: flex-start;
  align-content: flex-start;

}


