.main-header {
  background-color: rgb(223, 219, 219);
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 3.5rem;
  z-index: 5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
 
  position: fixed;
}


 @media (max-width: 900px) {
 .main-header{
   justify-content: center;
   
 }

 
}


