.my-select-container{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: flex-start;
   
    margin-top: 10px;
    
  }


@media(max-width:440px){
    .my-select-container{
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
}